.reviewsPage {
	padding: 90px 180px 90px 180px;
	min-height: 100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 60px;
}

.headerLeft {
	text-align: left;
	color: var(--dark-gray);
	font-family: var(--font-rubik);
	font-size: 8rem;
	font-style: normal;
	font-weight: 600;
	line-height: 8rem;
	text-transform: uppercase;
}

.headerRight {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.headerRight p {
	color: var(--neutrals-gray);
	font-family: var(--font-open-sans);
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.reviewsGrid {
	margin-top: 32px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	align-items: start;
	justify-content: center;
}

@media screen and (max-width: 1536px) {
	.reviewsPage {
		padding: 60px 150px 90px 150px;
	}

	.headerLeft {
		font-size: 6.8rem;
		line-height: 6.4rem;
	}

	.headerRight p {
		font-size: 1.8rem;
	}

	.reviewsGrid {
		gap: 32px;
	}
}

@media screen and (max-width: 1280px) {
	.reviewsPage {
		padding: 60px 100px 80px 100px;
	}

	.headerLeft {
		font-size: 5.6rem;
		line-height: 5.8rem;
	}

	.reviewsGrid {
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
	}
}

@media screen and (max-width: 1024px) {
	.reviewsPage {
		padding: 40px 60px 60px 60px;
	}

	.headerLeft {
		font-size: 4.6rem;
		line-height: 4.6rem;
	}

	.headerRight p {
		font-size: 1.6rem;
	}

	.reviewsGrid {
		gap: 24px;
	}
}

@media screen and (max-width: 768px) {
	.reviewsPage {
		padding: 30px 40px 40px 40px;
	}

	.header {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		margin-bottom: 40px;
	}

	.headerLeft {
		font-size: 3.8rem;
		line-height: 4rem;
	}

	.reviewsGrid {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 568px) {
	.reviewsPage {
		padding: 20px 24px 30px 24px;
	}

	.headerLeft {
		font-size: 3rem;
		line-height: 3.4rem;
	}

	.headerRight p {
		font-size: 1.4rem;
	}

	.reviewsGrid {
		gap: 16px;
	}
}

@media screen and (max-width: 480px) {
	.reviewsPage {
		padding: 16px 16px 24px 16px;
	}

	.headerLeft {
		font-size: 2.8rem;
		line-height: 3rem;
	}

	.reviewsGrid {
		gap: 12px;
	}
}
